<form [formGroup] = "forgetPwdForm" (ngSubmit) = "onSubmit(forgetPwdForm)" >
    <label>Email</label>
    <input type = "text" placeholder="Email" formControlName = "email"/>
    <label>Password</label>
    <input textarea = "text" placeholder="Password" formControlName = "password">
    <label>Confirm Password</label>
    <input textarea = "text" placeholder="Confirm Password" formControlName = "confirmPwd">
    <button type = "submit">Change Password</button>
    <div>{{updateResponse}}</div>
</form>